#SubNavbar_iki {
  margin-top: 30px;
  margin-left: 75px;
    .tab-menu {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      
        .tab-item {
          padding: 10px 20px;
          text-decoration: none;
          color: black;
          font-size: 16px;
          font-weight: 700;
          border-radius: 30px;
          transition: background-color 0.3s ease, color 0.3s ease; /* Transition üçün animasiya */
          @media screen and (max-width: 700px) {
            padding: 5px 5px;
            font-size: 12px;
            font-weight: 500;
          }
          @media screen and (max-width: 400px) {
            font-size: 10px
          }
          &:hover {
            background-color: #2393BB; /* Hover zamanı fon rəngi */
            color: white; /* Hover zamanı mətn rəngi */
          }
        }
      
        .active {
          background-color: #2393BB; /* Aktiv olan düymənin fon rəngi */
          color: white;
        }
      }
      
}
