.box {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 992px) {
    display: none;
  }

  .container {
    position: relative;
    width: 100%;
    padding: 28px 41px 0px 41px;

    @media screen and (max-width: 400px) {
      padding: 28px 21px 0px 21px;
    }

    .imgBox {
      overflow: hidden;
      width: 100%;
      aspect-ratio: 87 / 51;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;

      img {
        height: 100%;
      }

      .xeberler {
        color: #fff;
        position: absolute;
        left: 5%;
        bottom: 7%;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
      }
    }

    .content {
      margin-top: 12px;
      padding: 12px 0 28px;

      .title {
        font-weight: 400;
        font-size: 14px;
        line-height: 16.1px;
        width: 78%;

        @media screen and (max-width: 500px) {
          font-size: 12px;
          width: 70%;
        }

        @media screen and (max-width: 400px) {
          width: 60%;
        }
      }
    }

    :global {
      .swiper-pagination-fraction,
      .swiper-pagination-custom,
      .swiper-horizontal > .swiper-pagination-bullets,
      .swiper-pagination-bullets.swiper-pagination-horizontal {
        left: unset;
      }

      .swiper-pagination {
        width: fit-content;
        height: fit-content;
        position: absolute;
        bottom: 8%;
        right: 41px;
        left: unset;
        margin-left: auto;
        transition: 0.3s;
        background-color: #fff;

        @media screen and (max-width: 600px) {
          right: 21px;
          bottom: 10%;
        }

        @media screen and (max-width: 400px) {
          right: 21px;
          bottom: 15%;
        }
      }

      .swiper-pagination-bullet {
        margin: 0px 2px !important;
        background-color: #2393bb !important;
        width: 8px !important;
        height: 8px !important;
        opacity: 1 !important;
        border-radius: 5px !important;
        transition: width 0.3s ease;
      }

      .swiper-pagination-bullet-active {
        width: 19px !important;
      }
    }
  }
}
