#resmi_xronika {
    position: relative;
    overflow: hidden;

    .gerb {
        position: absolute;
        top: 0;
        right: -200px;
        width: 517px;
        height: 517px;
        opacity: 12%;
    }

    .container {
        width: 90%;
        margin: auto;
        margin-top: 100px;
        gap: 50px;
        display: flex;
        flex-direction: column;

        .title {
            display: flex;
            justify-content: space-between;

            .text {
                font-size: 40px;
                font-weight: 400;
                line-height: 46px;
                letter-spacing: 0.3px;
                color: black;
            }


        }

        .down {
            height: 700px;
            display: flex;
            // justify-content: space-evenly;
            gap: 60px;

            .left {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 48%;
            }

            .right {
                display: flex;
                gap: 50px;
                min-width: 450px;
                position: relative;

                .box1 {
                    position: absolute;
                    top: 70px;
                    left: 0;

                    .border {
                        border: 1px solid #2393BB;
                        width: 200px;
                        height: 370px;
                        border-radius: 27px;
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        .logo {
                            border-radius: 25px;
                            justify-content: center;
                            align-items: center;
                            display: flex;
                            height: 220px;
                            background-color: #2393BB;

                            .icon {
                                color: white;
                                font-size: 150px;
                            }

                        }

                        .text {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 40px;
                            font-weight: 400;
                            line-height: 46px;
                            letter-spacing: -0.30000001192092896px;
                            text-underline-position: from-font;
                            text-decoration-skip-ink: none;
                            text-align: center;
                        }
                    }
                }

                .box2 {
                    position: absolute;
                    bottom: 70px;
                    right: 0;

                    .border {
                        border: 1px solid #2393BB;
                        width: 200px;
                        height: 370px;
                        border-radius: 27px;
                        overflow: hidden;
                        display: flex;
                        flex-direction: column-reverse;
                        gap: 20px;

                        .logo {
                            border-radius: 25px;
                            justify-content: center;
                            align-items: center;
                            display: flex;
                            height: 220px;
                            background-color: #2393BB;

                            .icon {
                                color: white;
                                font-size: 150px;
                            }

                        }

                        .text {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 40px;
                            font-weight: 400;
                            line-height: 46px;
                            letter-spacing: -0.30000001192092896px;
                            text-underline-position: from-font;
                            text-decoration-skip-ink: none;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

#resmi_xron_mobil {
    display: none;
}

@media screen and (max-width: 992px) {
    #resmi_xronika {
        display: none;
    }

    #resmi_xron_mobil {
        display: block;
        position: relative;

        .gerb {
            position: absolute;
            top: 170px;
            left: -10vw;
            width: 70vw;
            height: 350px;
            opacity: 12%;
            // overflow: hidden;
            z-index: -2;
        }

        .container {
            width: 90%;
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .text {
                font-size: 20px;
                font-weight: 400;
                line-height: 23px;
                letter-spacing: -0.30000001192092896px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
            }

            .left {
                display: flex;
                justify-content: center;
            }

            .right {
                display: flex;
                justify-content: space-evenly;
                // flex-wrap: wrap;
                // margin: auto;

                gap: 10px;


                .box1 {
                    .border {
                        border: 1px solid #2393BB;
                        width: 130px;
                        height: 220px;
                        border-radius: 27px;
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;
                        gap: 30px;

                        .logo {
                            border-radius: 25px;
                            justify-content: center;
                            align-items: center;
                            display: flex;
                            height: 120px;
                            background-color: #2393BB;

                            .icon {
                                color: white;
                                font-size: 80px;
                            }

                        }

                        .text {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-family: Arial;
                            font-size: 20px;
                            font-weight: 400;
                            line-height: 23px;
                            letter-spacing: -0.30000001192092896px;
                            text-underline-position: from-font;
                            text-decoration-skip-ink: none;

                            text-align: center;
                        }
                    }
                }

                .box2 {
                    .border {
                        border: 1px solid #2393BB;
                        width: 130px;
                        height: 220px;
                        border-radius: 27px;
                        overflow: hidden;
                        display: flex;
                        flex-direction: column-reverse;
                        gap: 30px;

                        .logo {
                            border-radius: 25px;
                            justify-content: center;
                            align-items: center;
                            display: flex;
                            height: 120px;
                            background-color: #2393BB;

                            .icon {
                                color: white;
                                font-size: 80px;
                            }

                        }

                        .text {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 20px;
                            font-weight: 400;
                            line-height: 23px;
                            letter-spacing: -0.30000001192092896px;
                            text-underline-position: from-font;
                            text-decoration-skip-ink: none;
                            text-align: center;
                        }
                    }
                }
            }
        }

    }
}