.container {
  width: 100%;
  padding: 0px 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  @media only screen and (max-width: 992px) {
    padding: 0px 0rem;
  }

  .xeberBox {
    padding: 3rem 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 3.75rem;

    @media only screen and (max-width: 992px) {
      row-gap: 2rem;
    }
  }
}
