.FotoXronikaCard {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  // border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;

  .imgBox {
    width: 100%;
    aspect-ratio: 3 / 2;
    overflow: hidden;
    // border: 1px solid #2393bb;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      min-width: 100%;
      min-height: 100%;
    }
  }

  .date {
    width: 100%;
    padding: 16px 14px;
    position: absolute;
    bottom: 0;

    background-color: #000000c1;
    text-align: center;
    color: #fafffe;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    @media only screen and (max-width: 992px) {
      padding: 20px 18px;
      font-size: 20px;
      line-height: 23.2px;
    }

    @media only screen and (max-width: 600px) {
      padding: 18px 14px;
      font-size: 18px;
      line-height: 15.2px;
    }

    // @media only screen and (max-width: 400px) {
    //   padding: 8px 6px;
    //   font-size: 10px;
    //   line-height: 12.2px;
    // }
  }
}
