.FotoXronikaCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  .imgBox {
    width: 100%;
    aspect-ratio: 10 / 6;
    overflow: hidden;
    border: 1px solid #2393bb;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: min(100%);
      height: min(100%);
    }
  }

  .date {
    color: #707372;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    @media only screen and (max-width: 992px) {
      font-size: 14px;
      line-height: 15.2px;
    }

    @media only screen and (max-width: 676px) {
      font-size: 10px;
      line-height: 11.2px;
    }

    @media only screen and (max-width: 676px) {
      font-size: 6px;
      line-height: 7px;
    }
  }
}
