.container {
  padding-top: 52px;
  width: 100%;

  .content {
    font-weight: 400;
    font-size: 24px;
    line-height: 31.2px;
    text-wrap: balance;

    @media only screen and (max-width: 992px) {
      font-size: 14px;
      line-height: 18.2px;
    }
  }
}
