.container {
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  .title {
    font-size: 32px;
    font-weight: 700;
    line-height: 36.2px;
  }

  .content {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding-inline: 2rem;

    .title {
      font-size: 24px;
      font-weight: 700;
      line-height: 27px;
    }

    .content {
      padding-left: 4px;
      font-size: 20px;
      font-weight: 400;
      line-height: 27px;
    }
  }
}
