.container {
  width: 100%;
  padding: 56px 5rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  hr {
    height: 1.5px;
    margin-block: 20px;
    background-color: #bbdeea;
    color: #bbdeea;
    border: 0px;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    padding: 26px 0px;
  }
}
