.container {
  background-color: #e9f4f8;
  padding: 27px 79px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 70px;
  column-gap: 57px;
}
