@media only screen and (min-width: 1200px) {
  .navbar {
    height: 112px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    transition: 0.2s;

    .triangle {
      padding: 5px 0px 0px 10px;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #2394bc;
      clip-path: polygon(0px 0px, 0px 100%, 206px 0px);
      transition: 0.2s;

      img {
        width: 70px;
        transition: 0.2s;
      }
    }

    .navbar_search {
      display: flex;
      align-items: center;
      background-color: white;
      border-radius: 20px;
      padding: 5px 10px;
      border: 2px solid #29a0c6;

      input {
        width: 100%;
        border: none;
        outline: none;
        font-size: 14px;
        padding: 5px;
      }

      button {
        background: none;
        border: none;
        cursor: pointer;
        svg {
          fill: #29a0c6;
        }
      }
    }
  }

  .navbar.scrolled {
    height: 112px;
    background-color: #29a0c6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    .triangle {
      background-color: #29a0c6;

      img {
        margin: 14px 0px;
        transition: 0.2s;
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .navbar {
    height: 112px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    transition: 0.2s;

    .triangle {
      padding: 5px 0px 0px 10px;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #2394bc;
      clip-path: polygon(0px 0px, 0px 100%, 206px 0px);
      transition: 0.2s;

      img {
        width: 70px;
        transition: 0.2s;
      }
    }

    .navbar_search {
      width: 143px;
      height: 32px;
      display: flex;
      align-items: center;
      background-color: white;
      border-radius: 36px;
      padding: 8px 12px;
      border: 2px solid #29a0c6;

      input {
        width: 100%;
        border: none;
        outline: none;
        font-size: 14px;
        padding: 5px;
      }

      button {
        background: none;
        border: none;
        cursor: pointer;
        svg {
          fill: #29a0c6;
        }
      }
    }
  }

  .navbar.scrolled {
    height: 112px;
    background-color: #29a0c6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    .triangle {
      background-color: #29a0c6;

      img {
        margin: 14px 0px;
        transition: 0.3s;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .navbar {
    display: none;
  }
}
