.XeberCard {
  width: 100%;
  aspect-ratio: 10 / 9;
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  .imgBox {
    width: 100%;
    aspect-ratio: 10 / 6;
    overflow: hidden;
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: min(100%);
      height: min(100%);
    }
  }

  .content {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .textBox {
      --title: 20px;
      --line_height: 23px;
      --description: 12px;
      --gap: 12px;

      display: flex;
      flex-direction: column;
      row-gap: var(--gap);

      .title {
        text-wrap: balance;
        font-size: var(--title);
        font-weight: 400;
        line-height: var(--line_height);
      }

      .description {
        color: #707372;
        font-size: var(--description);
        font-weight: 400;
        line-height: 13.8px;
      }

      @media only screen and (min-width: 1500px) {
        --title: 25px;
        --line_height: 28.75px;
        --description: 15px;
        --gap: 15px;
      }

      @media only screen and (max-width: 1200px) {
        --title: 15px;
        --line_height: 17px;
        --description: 9px;
        --gap: 9px;
      }

      @media only screen and (max-width: 400px) {
        --title: 10px;
        --line_height: 17px;
        --description: 6px;
        --gap: 6px;
      }
    }

    .btn {
      --widthBtn: 105px;
      --heigthBtn: 54px;
      --radiusBtn: 23px;
      --fontSizeBtn: 15px;
      --lineHeightBtn: 18px;
      --paddingBtn: 18px 20px;

      color: #fff;
      background-color: #2084a8;
      align-self: flex-end;
      text-align: center;
      width: var(--widthBtn);
      height: var(--heigthBtn);
      border: 0px solid;
      border-radius: var(--radiusBtn);
      padding: var(--paddingBtn);
      gap: 10px;
      font-size: var(--fontSizeBtn);
      font-weight: 700;
      line-height: var(--lineHeightBtn);
      text-transform: uppercase;

      @media only screen and (min-width: 1500px) {
        --widthBtn: 131.25px;
        --heigthBtn: 67.5px;
        --radiusBtn: 28.75px;
        --fontSizeBtn: 18.75px;
        --lineHeightBtn: 22.5px;
        --paddingBtn: 22.5px 25px;
      }

      @media only screen and (max-width: 1200px) {
        --widthBtn: 78px;
        --heigthBtn: 40px;
        --radiusBtn: 17px;
        --fontSizeBtn: 12px;
        --lineHeightBtn: 12px;
        --paddingBtn: 12px 15px;
      }

      @media only screen and (max-width: 992px) {
        --widthBtn: 78px;
        --heigthBtn: 40px;
        --radiusBtn: 17px;
        --fontSizeBtn: 12px;
        --lineHeightBtn: 12px;
        --paddingBtn: 12px 15px;
      }

      @media only screen and (max-width: 400px) {
        --widthBtn: 58.5px;
        --heigthBtn: 30px;
        --radiusBtn: 13px;
        --fontSizeBtn: 9px;
        --lineHeightBtn: 9px;
        --paddingBtn: 9px 11px;
        font-weight: 400;
      }
    }
  }
}
