.container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @media screen and (max-width: 992px) {
    width: 100%;
  }

  .content {
    width: 100%;
    padding-top: 52px;

    @media only screen and (max-width: 992px) {
      padding-top: 20px;
    }

    .imgBox {
      border-radius: 14px;
      width: 100%;

      img {
        border-radius: 14px;
        min-height: 100%;
        min-width: 100%;
      }
    }

    :global {
      .swiper-pagination {
        width: fit-content;
        height: fit-content;
        position: absolute;
        top: 0;
      }

      .swiper-pagination-bullet {
        background-color: #2393bb;
        width: 12px;
        height: 12px;
        opacity: 1;
        border-radius: 13px;
        transition: width 0.3s ease;
      }

      .swiper-pagination-bullet-active {
        width: 28px;
      }

      @media only screen and (max-width: 992px) {
        .swiper-pagination-bullet {
          width: 10px;
          height: 10px;
        }

        .swiper-pagination-bullet-active {
          width: 22px;
        }
      }

      @media only screen and (max-width: 576px) {
        .swiper-pagination-bullet {
          margin: 0 2px;
          width: 8px;
          height: 8px;
        }

        .swiper-pagination-bullet-active {
          width: 19px;
        }
      }
    }
  }
}
