.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 5em;
  padding: 7rem 0;
  overflow: hidden;

  @media screen and (max-width: 992px) {
    display: none;
  }

  .titleBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    user-select: none;

    .title {
      font-size: 40px;
      font-weight: 400;
      line-height: 46px;
    }

    .link {
      cursor: pointer;
      color: #585b5b;
      font-size: 16px;
      line-height: 19.2px;
      text-decoration: underline;
    }

    @media screen and (max-width: 1200px) {
      .title {
        font-size: 35px;
      }

      .link {
        font-size: 14px;
      }
    }
  }

  .content {
    width: 130%;
    display: flex;
    align-items: center;
    column-gap: 60px;
    transform: translateX(-12%);

    @media only screen and (max-width: 1290px) {
      column-gap: 30px;
    }
  }

  /* Custom Navigation Buttons */
  .navigationButtons {
    position: absolute;
    bottom: 20%;
    z-index: -1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    // padding: 10px;
  }

  .prevBtn,
  .nextBtn {
    position: absolute;
    bottom: 45%;
    z-index: 4;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;

    .arrow {
      font-size: 40px;
    }

    @media only screen and (max-width: 1400px) {
      bottom: 40%;
    }

    @media only screen and (max-width: 1200px) {
      bottom: 40%;
      padding: 10px;

      .arrow {
        font-size: 30px;
      }
    }
  }

  .prevBtn {
    left: 0;
    border-radius: 0px 45px 45px 0px;
  }

  .nextBtn {
    right: 0;
    border-radius: 45px 0px 0px 45px;
  }
}
