.C {
    display: flex;
    justify-content: center;
    align-items: center;
}

.T {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.3px;
    line-height: 23px;
}

hr.line {
    height: 1.5px;
    margin-block: 20px;
    background-color: #bbdeea;
    border: 0px;
}

.Gerb {
    width: clamp(300px, 50%, 625px);
    opacity: 12%;
    position: absolute;
    z-index: -5;
}

#bottom.Gerb {
    bottom: 0;
    left: 0;
    transform: translate(-20%, 50%);
}

#top.Gerb {
    top: 0;
    right: 0;
}

.CC {
    padding-block: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spin {
    border-radius: 50%;
    animation: spin 5s infinite linear;
}

.resultText {
    text-align: center;
    width: 100%;
    padding: 2rem 0;
    font-weight: 400;
    font-size: 24px;
    font-style: italic;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loaderText {
    margin-block: 2rem 7rem;
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.1s infinite ease;
    transform: translateZ(0);
}

@keyframes mulShdSpin {
    0%,
    100% {
        box-shadow:
            0em -2.6em 0em 0em #2393bb,
            1.8em -1.8em 0 0em rgba(35, 147, 187, 0.2),
            2.5em 0em 0 0em rgba(35, 147, 187, 0.2),
            1.75em 1.75em 0 0em rgba(35, 147, 187, 0.2),
            0em 2.5em 0 0em rgba(35, 147, 187, 0.2),
            -1.8em 1.8em 0 0em rgba(35, 147, 187, 0.2),
            -2.6em 0em 0 0em rgba(35, 147, 187, 0.5),
            -1.8em -1.8em 0 0em rgba(35, 147, 187, 0.7);
    }
    12.5% {
        box-shadow:
            0em -2.6em 0em 0em rgba(35, 147, 187, 0.7),
            1.8em -1.8em 0 0em #2393bb,
            2.5em 0em 0 0em rgba(35, 147, 187, 0.2),
            1.75em 1.75em 0 0em rgba(35, 147, 187, 0.2),
            0em 2.5em 0 0em rgba(35, 147, 187, 0.2),
            -1.8em 1.8em 0 0em rgba(35, 147, 187, 0.2),
            -2.6em 0em 0 0em rgba(35, 147, 187, 0.2),
            -1.8em -1.8em 0 0em rgba(35, 147, 187, 0.5);
    }
    25% {
        box-shadow:
            0em -2.6em 0em 0em rgba(35, 147, 187, 0.5),
            1.8em -1.8em 0 0em rgba(35, 147, 187, 0.7),
            2.5em 0em 0 0em #2393bb,
            1.75em 1.75em 0 0em rgba(35, 147, 187, 0.2),
            0em 2.5em 0 0em rgba(35, 147, 187, 0.2),
            -1.8em 1.8em 0 0em rgba(35, 147, 187, 0.2),
            -2.6em 0em 0 0em rgba(35, 147, 187, 0.2),
            -1.8em -1.8em 0 0em rgba(35, 147, 187, 0.2);
    }
    37.5% {
        box-shadow:
            0em -2.6em 0em 0em rgba(35, 147, 187, 0.2),
            1.8em -1.8em 0 0em rgba(35, 147, 187, 0.5),
            2.5em 0em 0 0em rgba(35, 147, 187, 0.7),
            1.75em 1.75em 0 0em #2393bb,
            0em 2.5em 0 0em rgba(35, 147, 187, 0.2),
            -1.8em 1.8em 0 0em rgba(35, 147, 187, 0.2),
            -2.6em 0em 0 0em rgba(35, 147, 187, 0.2),
            -1.8em -1.8em 0 0em rgba(35, 147, 187, 0.2);
    }
    50% {
        box-shadow:
            0em -2.6em 0em 0em rgba(35, 147, 187, 0.2),
            1.8em -1.8em 0 0em rgba(35, 147, 187, 0.2),
            2.5em 0em 0 0em rgba(35, 147, 187, 0.5),
            1.75em 1.75em 0 0em rgba(35, 147, 187, 0.7),
            0em 2.5em 0 0em #2393bb,
            -1.8em 1.8em 0 0em rgba(35, 147, 187, 0.2),
            -2.6em 0em 0 0em rgba(35, 147, 187, 0.2),
            -1.8em -1.8em 0 0em rgba(35, 147, 187, 0.2);
    }
    62.5% {
        box-shadow:
            0em -2.6em 0em 0em rgba(35, 147, 187, 0.2),
            1.8em -1.8em 0 0em rgba(35, 147, 187, 0.2),
            2.5em 0em 0 0em rgba(35, 147, 187, 0.2),
            1.75em 1.75em 0 0em rgba(35, 147, 187, 0.5),
            0em 2.5em 0 0em rgba(35, 147, 187, 0.7),
            -1.8em 1.8em 0 0em #2393bb,
            -2.6em 0em 0 0em rgba(35, 147, 187, 0.2),
            -1.8em -1.8em 0 0em rgba(35, 147, 187, 0.2);
    }
    75% {
        box-shadow:
            0em -2.6em 0em 0em rgba(35, 147, 187, 0.2),
            1.8em -1.8em 0 0em rgba(35, 147, 187, 0.2),
            2.5em 0em 0 0em rgba(35, 147, 187, 0.2),
            1.75em 1.75em 0 0em rgba(35, 147, 187, 0.2),
            0em 2.5em 0 0em rgba(35, 147, 187, 0.5),
            -1.8em 1.8em 0 0em rgba(35, 147, 187, 0.7),
            -2.6em 0em 0 0em #2393bb,
            -1.8em -1.8em 0 0em rgba(35, 147, 187, 0.2);
    }
    87.5% {
        box-shadow:
            0em -2.6em 0em 0em rgba(35, 147, 187, 0.2),
            1.8em -1.8em 0 0em rgba(35, 147, 187, 0.2),
            2.5em 0em 0 0em rgba(35, 147, 187, 0.2),
            1.75em 1.75em 0 0em rgba(35, 147, 187, 0.2),
            0em 2.5em 0 0em rgba(35, 147, 187, 0.2),
            -1.8em 1.8em 0 0em rgba(35, 147, 187, 0.5),
            -2.6em 0em 0 0em rgba(35, 147, 187, 0.7),
            -1.8em -1.8em 0 0em #2393bb;
    }
}
