#footer {
    position: relative;
    background-color: #2393bb;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 70px 200px;

    .ag_rend {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        clip-path: polygon(100% 71%, 69% 100%, 100% 100%);
    }

    .en_alt {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        left: 0;
        color: white;

        .copyright_text {
            padding: 10px 20px;
        }

        .rzayev_logo {
            cursor: pointer;
            width: 20%;

            @media only screen and (min-width: 1100px) {
                width: 19%;
            }
            @media only screen and (min-width: 1250px) {
                width: 18%;
            }
            @media only screen and (min-width: 1500px) {
                width: 16%;
            }
            @media only screen and (min-width: 2000px) {
                width: 14%;
            }
            @media only screen and (max-width: 992px) {
                width: 250px;
            }
        }

        
        @media only screen and (max-width: 992px) {
            flex-direction: column-reverse;
            align-items: flex-start;
            row-gap: 1rem;
        }
    }

    .img {
        position: absolute;
        width: 625px;
        z-index: -2;
        top: -400px;
        // bottom: 160px;
        left: -130px;
        opacity: 12%;

        @media (max-width: 1200px) {
            width: 500px;
            /* Medium screen */
            top: -320px;
            left: -100px;
        }

        @media (max-width: 992px) {
            width: 400px;
            top: -250px;
            /* Smaller screen */
            left: -90px;
        }

        @media (max-width: 768px) {
            width: 300px;
            top: -180px;
            /* Mobile size */
            left: -65px;
        }

        @media (max-width: 576px) {
            width: 200px;
            /* Smaller mobile size */
            top: -130px;
            /* Mobile size */
            left: -45px;
        }
    }

    .bigbox {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .head {
            display: flex;
            align-items: center;
            gap: 31px;

            h3 {
                font-size: 32px;
                line-height: 41.4px;
                letter-spacing: -0.3px;
                font-weight: 400;
                color: white;
                @media (max-width: 370px) {
                    width: 100px;
                }
            }

            .mesaj {
                background-color: white;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;

                .icon {
                    color: #2393bb;
                }
            }
        }

        .under {
            display: flex;
            justify-content: space-between;
            gap: 20px;

            ul {
                display: flex;
                flex-direction: column;
                gap: 12px;

                p {
                    color: white;
                }

                li {
                    color: white;
                    font-size: 16px;
                    line-height: 18.4px;
                    letter-spacing: -0.3px;
                    transition: color 0.3s ease;
                }

                li:hover {
                    color: black;
                    transition: color 0.3s ease;
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    #footer {
        padding: 70px 50px;
    }
}

@media only screen and (max-width: 992px) {
    #footer {
        .ag_rend {
            display: none;
        }

        .under {
            flex-direction: column;
            padding-bottom: 4rem;
        }

        .bigbox {
            .head {
                h3 {
                    font-size: 24px;
                    line-height: 41.4px;
                    letter-spacing: -0.3px;
                    font-weight: 400;
                    color: white;
                }
            }
        }
    }
}
