.con_lodigg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.lodigg {
    margin-block: 2rem 7rem;
    font-size: 10px;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.1s infinite ease;
    transform: translateZ(0);
}

.news-swiper {
    position: relative;
    border-radius: 12px;
    min-height: 550px;
    width: 100%;

    .borde_radius {
        border-radius: 12px;
    }

    .corner {
        position: absolute;
        bottom: 50px;
        right: -1px;
        width: 60px;
        z-index: 1;

    }

    .ox {
        position: absolute;
        bottom: 50px;
        right: 0;
        z-index: 1;

        .oxx {
            color: white;
            font-size: 40px;
        }
    }

    .xeberler {
        position: absolute;
        bottom: 53px;
        z-index: 1;
        color: white;
        right: 80px;
        font-size: 22px;
        font-weight: 700;
    }

    .custom-navigation {
        display: flex;
        gap: 40px;
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 1;

        .custom-prev,
        .custom-next {
            font-size: 20px;
            cursor: pointer;
            pointer-events: auto;
            /* Klikləməyi təmin etmək üçün */
        }

    }

    .swiper-pagination {
        display: none;
    }

    .trrrrr {
        border-radius: 12px !important;

        .news-slide {
            position: relative;
            top: 0px;
            left: 0px;
            min-height: 550px;
            width: 100%;
            border-radius: 12px !important;

            .imgbox {
                border-radius: 12px !important;
                height: 550px;

                img {
                    border-radius: 12px;
                    min-width: 100%;
                    height: 500px;
                }
            }

            .news-content {
                position: absolute;
                bottom: 0px;
                width: 80%;
                font-size: 11px;
                font-weight: 100;
                line-height: 19.4px;
                letter-spacing: 0.3px;
                padding: 5px 10px;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                line-clamp: 2;
            }

            .number {
                position: absolute;
                bottom: 13px;
                right: 25px;
            }
        }
    }



    // .swiper-button-prev:after {
    //     position: absolute !important;
    //     bottom: -240px !important;
    //     left:  200px !important;
    //     color: red !important;
    //     font-size: 20px;
    // }

    // .swiper-button-next:after {
    //     font-size: 20px;
    //     position: absolute;
    //     bottom: -240px;
    //     right: 0px;
    //     color: red;
    // }

}